@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@400;700;900&family=Rubik:wght@400;500;700&family=Vollkorn:wght@400;500&display=swap");
/*Минимальное обнуление*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  background: #f5f5f5;
}

/*Цвета*/
/*Стили для текста*/
h1 {
  font: normal 700 55px/67px "Nunito", sans-serif;
  color: #1f1d2a;
}

h2 {
  font: normal 700 32px/44px "Nunito", sans-serif;
  letter-spacing: 0.04em;
  color: #1f1d2a;
}

.signature {
  font: normal 400 15px/25px "Rubik", sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #9fa0a7;
}

.paragraph {
  font: normal 400 22px/33px "Rubik", sans-serif;
  letter-spacing: 0.05em;
  color: #1f1d2a;
}

.secondary-paragraph {
  font: normal 400 18px/27px "Rubik", sans-serif;
  letter-spacing: 0.05em;
  color: #4f5569;
}

.navigate-text {
  font: normal 700 20px/27px "Nunito", sans-serif;
  letter-spacing: 0.03em;
  color: #1f1d2a;
}

.timer-text-count {
  font: normal 700 32px/38px "Nunito", sans-serif;
  letter-spacing: 0.04em;
  color: #ff652f;
}

.timer-text {
  font: normal 400 16px/22px "Nunito", sans-serif;
  letter-spacing: 0.04em;
  color: #1f1d2a;
}

/*Кнопки*/
.btn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background: #14a76c;
  text-align: center;
  font: normal 700 20px/24px "Rubik", sans-serif;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/*Поинт*/  
.point {
  width: 445px;
  padding: 20px 35px;
  padding-bottom: 24px;
  background: #ffffff;
  border-radius: 16px;
  text-align: left;
}
.point img {
  margin-bottom: 8px;
}
.point p {
  font: normal 400 20px/24px "Rubik", sans-serif;
  letter-spacing: 0.04em;
  color: #4f5569;
}

/*Контейнеры*/
.extra-wide-container {
  width: 1920px;
  margin: 0 auto;
}

.wide-container {
  width: 1680px;
  margin: 0 auto;
}

.small-container {
  width: 1400px;
  margin: 0 auto;
}

/*Шапка*/
.page-header {
  width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.page-header .logo {
  display: flex;
  align-items: center;
}
.page-header .logo__text {
  font: normal 500 34px/40px "Rubik", sans-serif;
  color: #1f1d2a;
}
.page-header .logo__text span {
  color: #ff652f;
}
.page-header .sign-in {
  background: #ffffff;
  color: #1f1d2a;
  padding: 10px 58.5px;
  font-weight: 400;
  -webkit-animation: loadPageAnimate 2.5s ease;
          animation: loadPageAnimate 2.5s ease;
}

@-webkit-keyframes loadPageAnimate {
  0% {
    background: #ff652f;
  }
  25% {
    background: #ff652f;
  }
  100% {
    background: #ffffff;
  }
}

@keyframes loadPageAnimate {
  0% {
    background: #ff652f;
  }
  25% {
    background: #ff652f;
  }
  100% {
    background: #ffffff;
  }
}
/*Промо блок*/
.promo-block {
  float: right;
  display: flex;
  align-items: flex-end;
}
.promo-block .info-column {
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.promo-block .info-column .signature {
  order: -1;
}
.promo-block .info-column h1 {
  margin-bottom: 40px;
}
.promo-block .info-column .secondary-paragraph {
  margin-bottom: 60px;
}
.promo-block .info-column .time-to-go {
  margin-bottom: 60px;
  display: flex;
  align-items: flex-start;
}
.promo-block .info-column .time-to-go .get-in {
  padding: 18px 74.5px;
  margin-right: 60px;
}

/*Таймер*/
.timer {
  display: flex;
  align-items: flex-start;
}
.timer .colon {
  font: normal 900 24px/33px "Nunito", sans-serif;
  margin-right: 10px;
  margin-top: 13px;
  -webkit-animation: colonAnimate 1.5s ease infinite;
          animation: colonAnimate 1.5s ease infinite;
}
.timer .time {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.timer .time:not(:last-child) {
  margin-right: 10px;
}
.timer .time__count {
  background: #ffffff;
  border-radius: 16px;
  padding: 11px;
  width: 70px;
  margin-bottom: 4px;
}
.timer .time__where {
  color: #9fa0a7;
}

/*Контейнер с анимацией*/
.promo-animate-container {
  position: relative;
  width: 864px;
  height: 810px;
}
.promo-animate-container .space {
  position: relative;
  width: 100%;
  height: 693px;
  background: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);
}
.promo-animate-container .space__element {
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.promo-animate-container .space .atom {
  top: 132px;
  left: 75px;
  scale: 0;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
          animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-animation-name: atomAnimate;
          animation-name: atomAnimate;
}
.promo-animate-container .space .elephant {
  top: 235px;
  left: 585px;
  rotate: -11deg;
  -webkit-animation-name: elephantAnimate;
          animation-name: elephantAnimate;
}
.promo-animate-container .space .lamp {
  top: 340px;
  left: 476px;
  rotate: 15deg;
  -webkit-animation-name: lampAnimate;
          animation-name: lampAnimate;
}
.promo-animate-container .space .clock {
  top: 220px;
  left: 118px;
  scale: 0.7;
  -webkit-animation-name: clockAnimate;
          animation-name: clockAnimate;
}
.promo-animate-container .space .plane {
  top: 329px;
  left: 718px;
  scale: 0.5;
  -webkit-animation-name: planeAnimate;
          animation-name: planeAnimate;
}
.promo-animate-container .space .rocket {
  top: 353px;
  left: 88px;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: rocketAnimate;
          animation-name: rocketAnimate;
}
.promo-animate-container .space .big-planet {
  top: 82px;
  left: 209px;
  -webkit-animation-name: bigPlanetAnimate;
          animation-name: bigPlanetAnimate;
}
.promo-animate-container .space .striped-planet {
  top: 134px;
  left: 427px;
  -webkit-animation-name: stripedPlanetAnimate;
          animation-name: stripedPlanetAnimate;
}
.promo-animate-container .space .dark-planet {
  top: 460px;
  left: 317px;
  -webkit-animation-name: darkPlanetAnimate;
          animation-name: darkPlanetAnimate;
}
.promo-animate-container .space .division {
  top: 185px;
  left: 515px;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
          animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-animation-name: divisionAnimate;
          animation-name: divisionAnimate;
}
.promo-animate-container .space .plus {
  top: 241px;
  left: 432px;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
          animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-animation-name: plusAnimate;
          animation-name: plusAnimate;
}
.promo-animate-container .space .baloon {
  top: 296px;
  left: 354px;
  -webkit-animation-name: baloonAnimate;
          animation-name: baloonAnimate;
}
.promo-animate-container .space .pallette {
  top: 119px;
  left: 721px;
  -webkit-animation-name: palletteAnimate;
          animation-name: palletteAnimate;
}
.promo-animate-container .space .star-1 {
  top: 14px;
  left: 118px;
}
.promo-animate-container .space .star-2 {
  top: 144px;
  left: 805px;
}
.promo-animate-container .space .star-3 {
  top: 201px;
  left: 717px;
}
.promo-animate-container .space .star-4 {
  top: 515px;
  left: 388px;
}
.promo-animate-container .space .star-5 {
  top: 455px;
  left: 305px;
}
.promo-animate-container .space .star-6 {
  top: 513px;
  left: 302px;
}
.promo-animate-container .space .star-7 {
  top: 106px;
  left: 638px;
}
.promo-animate-container .space .star-8 {
  top: 33px;
  left: 755px;
}
.promo-animate-container .space .star-9 {
  top: 185px;
  left: 285px;
}
.promo-animate-container .space .star-10 {
  top: 82px;
  left: 370px;
}
.promo-animate-container .child {
  position: absolute;
  left: 369px;
  top: 473px;
  z-index: 2;
}
.promo-animate-container .pencil {
  position: absolute;
  z-index: 1;
  top: 629px;
  left: 413px;
  -webkit-animation: pencilAnimate 2.5s cubic-bezier(0.17, 0.88, 0.56, 1.43) infinite;
          animation: pencilAnimate 2.5s cubic-bezier(0.17, 0.88, 0.56, 1.43) infinite;
}
.promo-animate-container .planes {
  position: absolute;
  top: 716px;
  left: 170px;
}

.fade-in {
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
}

/*О конкурсе*/  
.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  clear: both;
  width: 100%;
}
.about__us {
  margin-bottom: 200px;
}
.about__us .company {
  font-weight: 700;
}
.about__us .accent {
  color: #14a76c;
  font-weight: 700;
}
.about .for-what h2 {
  margin-bottom: 60px;
}
.about .for-what .points {
  min-height: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.about .for-what .points__item .vk-link {
  text-decoration: underline;
  color: #ff652f;
}
.about .for-what .points__item .vk-link::visited {
  color: #ff652f;
}

/*Анимации*/ 
@-webkit-keyframes colonAnimate {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} 
@keyframes colonAnimate {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pencilAnimate {
  0% {
    rotate: 24deg;
  }
  33% {
    rotate: 66deg;
    transform: translateX(25px);
  }
  66% {
    rotate: 72deg;
    transform: translateX(15px) translateY(-15px);
  }
  100% {
    rotate: 24deg;
  }
}
@keyframes pencilAnimate {
  0% {
    rotate: 24deg;
  }
  33% {
    rotate: 66deg;
    transform: translateX(25px);
  }
  66% {
    rotate: 72deg;
    transform: translateX(15px) translateY(-15px);
  }
  100% {
    rotate: 24deg;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes atomAnimate {
  0% {
    scale: 0;
    rotate: 0deg;
  }
  50% {
    scale: 1;
    rotate: 45deg;
  }
  100% {
    scale: 0;
    rotate: 90deg;
  }
}
@keyframes atomAnimate {
  0% {
    scale: 0;
    rotate: 0deg;
  }
  50% {
    scale: 1;
    rotate: 45deg;
  }
  100% {
    scale: 0;
    rotate: 90deg;
  }
}
@-webkit-keyframes elephantAnimate {
  0% {
    rotate: -11deg;
  }
  50% {
    rotate: 30deg;
    transform: translateX(10px);
  }
  100% {
    rotate: -11deg;
    transform: translateX(-10deg);
  }
}
@keyframes elephantAnimate {
  0% {
    rotate: -11deg;
  }
  50% {
    rotate: 30deg;
    transform: translateX(10px);
  }
  100% {
    rotate: -11deg;
    transform: translateX(-10deg);
  }
}
@-webkit-keyframes lampAnimate {
  0% {
    rotate: 15deg;
  }
  11% {
    rotate: 15deg;
  }
  40% {
    rotate: 55deg;
  }
  69% {
    rotate: 10deg;
  }
  85% {
    rotate: -10deg;
  }
  100% {
    rotate: 15deg;
  }
}
@keyframes lampAnimate {
  0% {
    rotate: 15deg;
  }
  11% {
    rotate: 15deg;
  }
  40% {
    rotate: 55deg;
  }
  69% {
    rotate: 10deg;
  }
  85% {
    rotate: -10deg;
  }
  100% {
    rotate: 15deg;
  }
}
@-webkit-keyframes clockAnimate {
  0% {
    rotate: 360deg;
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  60% {
    scale: 1;
  }
  100% {
    rotate: 0deg;
    scale: 0.7;
  }
}
@keyframes clockAnimate {
  0% {
    rotate: 360deg;
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  60% {
    scale: 1;
  }
  100% {
    rotate: 0deg;
    scale: 0.7;
  }
}
@-webkit-keyframes planeAnimate {
  0% {
    scale: 0.5;
    rotate: 0deg;
  }
  50% {
    scale: 1;
    rotate: 45deg;
  }
  100% {
    scale: 0.5;
    rotate: 0deg;
  }
}
@keyframes planeAnimate {
  0% {
    scale: 0.5;
    rotate: 0deg;
  }
  50% {
    scale: 1;
    rotate: 45deg;
  }
  100% {
    scale: 0.5;
    rotate: 0deg;
  }
}
@-webkit-keyframes rocketAnimate {
  0% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rocketAnimate {
  0% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bigPlanetAnimate {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-50px) translateY(20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes bigPlanetAnimate {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-50px) translateY(20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes stripedPlanetAnimate {
  0% {
    transform: translateX(0);
  }
  7% {
    transform: translateX(0);
  }
  57% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes stripedPlanetAnimate {
  0% {
    transform: translateX(0);
  }
  7% {
    transform: translateX(0);
  }
  57% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes darkPlanetAnimate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -45deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes darkPlanetAnimate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -45deg;
  }
  100% {
    rotate: 0deg;
  }
}
@-webkit-keyframes divisionAnimate {
  0% {
    opacity: 0;
    scale: 1;
  }
  25% {
    opacity: 1;
    scale: 1.5;
  }
  50% {
    scale: 1.7;
    opacity: 0;
  }
}
@keyframes divisionAnimate {
  0% {
    opacity: 0;
    scale: 1;
  }
  25% {
    opacity: 1;
    scale: 1.5;
  }
  50% {
    scale: 1.7;
    opacity: 0;
  }
}
@-webkit-keyframes plusAnimate {
  0% {
    scale: 1;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 0;
  }
  75% {
    opacity: 1;
    scale: 1.5;
  }
  95% {
    opacity: 0;
    scale: 1.7;
  }
}
@keyframes plusAnimate {
  0% {
    scale: 1;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 0;
  }
  75% {
    opacity: 1;
    scale: 1.5;
  }
  95% {
    opacity: 0;
    scale: 1.7;
  }
}
@-webkit-keyframes baloonAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(34px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes baloonAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(34px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes palletteAnimate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 0deg;
  }
  83% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes palletteAnimate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 0deg;
  }
  83% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}/*# sourceMappingURL=index.css.map */