@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@400;700;900&family=Rubik:wght@400;500;700&family=Vollkorn:wght@400;500&display=swap')

/*Минимальное обнуление*/

*
  padding: 0
  margin: 0
  box-sizing: border-box
  list-style: none
  text-decoration: none

/*Цвета*/

$light-color: #ffffff
$green-color: #14a76c
$orange-color: #ff652f
$red-color: #e02d05
$violet-color-dark: #6539c1
$violet-color-light: #5d77ff
$main-text-color: #1f1d2a
$additional-text-color: #4f5569

